body .app {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  background: #000000 radial-gradient(ellipse at center, #5d0004 0%, #220a0a 100%);
  padding: 150px 0;
  color: white;
  display: flex;
}

.open {
  background-color: #20FF60 !important;
}

.closed {
  background-color: #CC0000 !important;
}

.animation {
  width: 450px;
  position: fixed;
  bottom: 0;
}

.player {
  flex: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}
